
body{
    background-color: rgb(26, 24, 24);
} 

h1 {
    color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
}